<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - fintrack</title>
    <script type="importmap"></script>
<script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div>
        <main role="main" class=" w-full">
            @RenderBody()
        </main>
    </div>
</body>
</html>
